@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins/Poppins-Regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins/Poppins-Bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: "Poppins";
  src: url("../../assets/fonts/Poppins/Poppins-Light.otf");
  font-weight: lighter;
}
