$background-color: #1c70ddff;
$white-background-color: #fafafa;

$text-color: #fafafa;
$dark-text-color: #273183;
$text-link-color: rgb(58, 127, 255);

$title-color: #fafafa;
$dark-title-color: #273183;

$glass-color: rgba(100, 100, 255, 0.75);
$glass-color-hover: rgba(122, 122, 238, 0.75);

$navbar-height: 4rem;
