# Docker-compose stack for development purposes
# DO NOT USE THIS IN PRODUCTION

name: clic-website-devcontainer

include:
  - path: directus/docker-compose.yaml
services:
  app:
    # Build the app service from its folder
    build:
      # Build context, relative to the current file
      context: ./app
      # Path to Dockerfile, relative to context
      dockerfile: Dockerfile.dev
    user: ${USER_ID:-1000}:${GROUP_ID:-1000}
    environment:
      NODE_ENV: development
    volumes:
      # Bind-mount the app project folder into the container
      - type: bind
        source: ./app
        target: /app

  caddy:
    image: caddy
    volumes:
      - "./caddy/Caddyfile.dev:/etc/caddy/Caddyfile"
    ports:
      - "80:80"
