$background-color: #1c70ddff;
$white-background-color: #fafafa;
$red-background-color: #e70060;

$selected-button-color: #3247e6;

$text-color: #fafafa;
$dark-text-color: #273283;
$text-link-color: rgb(58, 127, 255);

$detail-color: darkgray;

$title-color: #fafafa;
$dark-title-color: #273183;

$glass-color: rgba(100, 100, 255, 0.75);
$glass-color-hover: rgba(122, 122, 238, 0.75);

$border-radius: 3rem;

$small-border-radius: 1rem;

$navbar-height: 4rem;

$icbd-accent: rgb(255, 198, 64);
$icbd-gradient: linear-gradient(
  45deg,
  rgba(254, 95, 3, 1) 0%,
  rgb(255, 185, 64) 100%
);

$icbd-table-gray-column: rgb(246, 246, 246);
$icbd-table-gray-hours: rgba(235, 235, 235, 0.5);
$icbd-table-line: rgba(235, 235, 235);
