@use "utilities/glass";
@use "utilities/variables";

.card {
  @extend .glass;

  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;

  border-radius: 5rem;

  padding: 1rem;

  width: 20rem;
  height: 6rem;

  .content {
    color: variables.$text-color;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;

    .name {
      margin: 0;
      font-size: 15pt;
      text-align: left;
      color: variables.$text-color;
      line-height: 1.5rem;
    }

    .description {
      line-height: 1rem;
      margin: 0;
    }
  }

  &:hover {
    background-color: variables.$glass-color-hover;
    transition: ease-in;
  }

  .picture {
    overflow: hidden;
    min-width: 6rem;
    min-height: 6rem;

    border: 3px white solid;
    border-radius: 50%;
  }
}
