@use "utilities/variables";
@use "utilities/glass";

.list {
  display: flex;
  flex-direction: column;
  grid-template-columns: auto auto;
  gap: 2rem;

  .subList {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  h1 {
    width: fit-content;
  }

  @media (max-width: 1000px) {
    grid-template-columns: auto;

    > :first-child,
    > :nth-child(2) {
      grid-column: 1;
    }
  }
}

.tile {
  background-color: transparent;
  width: 20rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  position: relative;

  p {
    color: variables.$dark-text-color;
    font-weight: normal;
    font-size: larger;
    width: fit-content;
    margin: 0;
  }

  .preview {
    border-radius: variables.$small-border-radius;
    overflow: hidden;
    width: 20rem;
    height: 10rem;

    img {
      transform: scale(1.1);
    }

    &:hover {
      cursor: pointer;
      img {
        transform: scale(1.2);
        transition-duration: 0.25s;
      }
    }
  }
}
