@use "utilities/variables";
@use "utilities/glass";

.list {
  display: flex;
  flex-direction: column;
  grid-template-columns: auto auto;
  gap: 2rem;

  .subList {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: fit-content;

    @media (max-width: 950px) {
      flex-wrap: nowrap;
      flex-direction: column;
    }
  }

  h1 {
    width: fit-content;
  }

  @media (max-width: 1000px) {
    grid-template-columns: auto;

    > :first-child,
    > :nth-child(2) {
      grid-column: 1;
    }
  }
}

.tile {
  background-color: transparent;
  width: 20rem;
  display: flex;
  flex-direction: column;
  position: relative;

  p {
    color: variables.$dark-text-color;
    width: 100%;
    height: 3rem;
    position: absolute;
    bottom: 0;
    font-weight: thin;
    text-align: center;
    line-height: 3rem;
    color: white;
    margin: 0;
    font-size: 1.5rem;
    background-color: rgba(50, 50, 70, 0.3);
    backdrop-filter: blur(4px);
    pointer-events: none;
    border-radius: 0 0 variables.$small-border-radius
      variables.$small-border-radius;
  }

  .preview {
    border-radius: variables.$small-border-radius;
    overflow: hidden;
    width: 20rem;
    height: 10rem;

    box-shadow: 0 4px 30px rgba(0, 0, 100, 0.3);

    img {
      transform: scale(1.1);
    }

    &:hover {
      cursor: pointer;
      img {
        transform: scale(1.2);
        transition-duration: 0.25s;
      }
    }
  }
}
