@use "utilities/variables";
@use "utilities/glass";

.list {
  display: flex;
  flex-direction: column;
  grid-template-columns: auto auto;
  gap: 2rem;
  width: 100%;

  .subList {
    display: grid;
    grid-template-columns: repeat(auto-fill, 20rem);
    gap: 1rem;
    width: 100%;
    justify-content: center;

    .year {
      grid-column: 1 / -1;
    }

    @media (max-width: 950px) {
      flex-wrap: nowrap;
      flex-direction: column;

      .year {
        width: 100%;
        text-align: center;
      }
    }
  }

  h1 {
    width: fit-content;
  }

  @media (max-width: 1000px) {
    grid-template-columns: auto;

    > :first-child,
    > :nth-child(2) {
      grid-column: 1;
    }
  }
}

.tile {
  height: fit-content;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: variables.$small-border-radius;
  overflow: hidden;
  box-shadow: 0 4px 30px rgba(0, 0, 100, 0.3);

  background-color: white;

  position: relative;

  &:hover {
    cursor: pointer;
    img {
      transform: scale(1.1);
      transition-duration: 0.25s;
      filter: brightness(0.75);
    }

    .icon {
      opacity: 1;
      transition-duration: 0.25s;
    }
  }

  .icon {
    color: white;
    opacity: 0;
    position: absolute;
    width: 3rem;
    height: 3rem;
    top: 5rem;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }

  p {
    color: variables.$dark-text-color;
    width: 100%;
    bottom: 0;
    text-align: left;
    font-size: 1.5rem;
    margin: 0;
    margin-left: 1rem;
  }

  .date {
    font-size: medium;
    color: variables.$detail-color;
  }

  .preview {
    height: 10rem;
    margin-bottom: 0.5rem;
    overflow: hidden;
  }
}
