@use "utilities/variables";
@use "utilities/glass";

.list {
  display: flex;
  flex-direction: column;
  grid-template-columns: auto auto;
  gap: 2rem;
  width: 100%;

  .subList {
    display: grid;
    grid-template-columns: repeat(auto-fill, 20rem);
    gap: 1rem;
    width: 100%;
    justify-content: center;

    .year {
      grid-column: 1 / -1;
    }

    @media (max-width: 950px) {
      flex-wrap: nowrap;
      flex-direction: column;

      .year {
        width: 100%;
        text-align: center;
      }
    }
  }

  h1 {
    width: fit-content;
  }

  @media (max-width: 1000px) {
    grid-template-columns: auto;

    > :first-child,
    > :nth-child(2) {
      grid-column: 1;
    }
  }
}

.tile {
  width: 20rem;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: variables.$small-border-radius;
  overflow: hidden;
  box-shadow: 0 4px 30px rgba(0, 0, 100, 0.3);

  .gradient {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 10, 0.7)
    );
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
  }

  p {
    color: variables.$text-color;
    width: 100%;
    height: 3rem;
    position: absolute;
    bottom: 0;
    font-weight: thin;
    text-align: center;
    line-height: 3rem;
    margin: 0;
    font-size: 1.5rem;
    pointer-events: none;
  }

  .preview {
    width: 20rem;
    height: 10rem;

    &:hover {
      cursor: pointer;
      img {
        transform: scale(1.1);
        transition-duration: 0.25s;
      }
    }
  }
}
