@use "utilities/variables";

.main {
  h4 {
    margin-top: 0.2rem;
  }

  h2 {
    width: 100%;
  }

  a {
    color: variables.$text-link-color;
  }

  background-color: variables.$white-background-color;
  min-width: 100vw;

  padding-top: 3rem;
  padding-bottom: 3rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  row-gap: 2rem;

  .banner {
    width: 100%;
    height: 20rem;

    border-radius: variables.$border-radius;
    overflow: hidden;

    margin: 0;

    @media (max-width: 800px) {
      height: 10rem;
      border-radius: variables.$small-border-radius;
    }
  }

  .section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
  }

  .poles {
    display: flex;
    flex-direction: column;
    row-gap: 6rem;

    .poleName {
      margin-bottom: 1rem;
    }

    .info {
      display: inline-flex;
      align-items: center;
      gap: 0.25rem;
      width: 100%;
      color: variables.$detail-color;
      p {
        margin: 0;
      }
    }
  }

  .center {
    align-items: center;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    width: min(70ch, 80%);

    img {
      width: 100%;
    }

    .author {
      margin: 0;
    }

    .date {
      width: 100%;
      text-align: left;
      color: variables.$detail-color;
      margin: 0;
    }
  }
}

.relatedContent {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;

  gap: 2rem;
}

.video {
  width: 100%;
  border-radius: variables.$small-border-radius;

  box-shadow: 0 4px 30px rgba(0, 0, 100, 0.3);
  background-color: black;
}
