@use "utilities/variables";

.partnersList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    display: flex;
    justify-content: center;
  }

  .logo {
    max-height: 10em;
    max-width: 15rem;
    margin: 2em;

    @media (max-width: 800px) {
      height: 8em;
      margin: 1em;
    }
  }

  &.homePage {
    h1 {
      font-size: 2rem;
      margin-top: 1rem;
    }

    .logo {
      height: 4em;

      @media (max-width: 800px) {
        height: 3em;
      }
    }
  }

  .list {
    margin: auto;
    display: flex;
    flex-direction: row;

    @media (max-width: 800px) {
      flex-direction: column;
    }
  }
}

.lightText {
  * {
    color: variables.$title-color;
  }
}

.background {
  padding: 1rem;
  background: rgb(17, 25, 31);
  background: linear-gradient(
    205deg,
    rgb(27, 23, 77) 0%,
    rgba(12, 14, 22, 1) 35%,
    rgba(16, 15, 93, 1) 100%
  );
  * {
    color: variables.$title-color;
  }
}
