@use "./utilities/variables";

.table {
  width: min(90%, 100rem);
  height: 800px;
  border-collapse: collapse;
  overflow: hidden;

  @media (max-width: 1000px) {
    height: 600px;
  }

  td {
    padding: 2rem 0 2rem 0;
    height: 100%;
  }

  tbody {
    td:nth-child(odd):not(.hours) {
      background-color: variables.$icbd-table-gray-column; // Apply style to even items
    }

    td:nth-child(even) {
      background-color: white; // Apply style to odd items
    }
  }

  .hours {
    width: 50px;
    border-radius: variables.$small-border-radius 0 0
      variables.$small-border-radius;
    background-color: variables.$icbd-table-gray-hours;

    .hourEntry {
      text-align: right;
      padding-right: 0.5rem;
      position: relative;

      p {
        transform: translateY(-0.75rem);
        margin: 0;
        width: 100%;
        text-align: right;
        color: grey;
      }

      .line {
        position: absolute;
        height: 1px;
        width: 100vw;
        background-color: variables.$icbd-table-gray-hours;

        transform: translateY(-1px);
        left: 100%;
      }
    }
  }

  .header {
    width: 10rem;
  }

  .entry {
    height: 100%;
    display: flex;
    position: relative;
    overflow: hidden;

    border-right: variables.$icbd-table-gray-hours;
    border-top: variables.$icbd-table-gray-hours;
    border-bottom: variables.$icbd-table-gray-hours;

    .event {
      display: flex;
      position: absolute;
      align-items: center;
      justify-content: center;

      width: calc(100% - 0.4rem);
      height: calc(100% - 0.4rem);

      margin: 0.2rem;

      border-radius: 10px;

      p {
        color: white;
        text-align: left;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.75rem;
        max-height: 80%;
        max-width: 80%;
        text-overflow: ellipsis;
        overflow: hidden;
        overflow-y: scroll;

        /* Hide scrollbar for IE, Edge and Firefox */
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        /* Hide scrollbar for Chrome, Safari and Opera */
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
}
