@use "./utilities/variables";
@use "./utilities/glass";

.background {
  position: absolute;
  left: 0;
  z-index: -1;
}

.main {
  display: flex;
  height: calc(100vh - variables.$navbar-height);
  justify-content: center;
  align-items: center;

  .center {
    @extend .glass;
    background: transparent;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;

    padding: 3rem;
    border-radius: variables.$border-radius;

    height: fit-content;

    h4 {
      font-weight: lighter;
      font-size: 15pt;
    }
  }
}
