.description {
  background-color: var(--background-color);

  width: 100%;

  align-items: center;

  display: flex;
  flex-direction: column;

  padding-bottom: 2rem;

  .text {
    padding: 1em;
  }
}
