@use "utilities/variables";

.button {
  border-radius: 3rem;
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;

  font-size: 1rem;

  color: variables.$text-color;
  background-color: variables.$glass-color;

  width: fit-content;
  height: fit-content;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  &:hover {
    background-color: variables.$glass-color-hover;
  }

  backdrop-filter: blur(10px) saturate(180%);
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 100, 0.3);
}
