@use "utilities/glass";
@use "utilities/variables";

.card {
  display: flex;
  align-items: center;
  overflow: hidden;

  border-radius: 5rem;

  h4 {
    margin: 0;
    margin-bottom: 0.5rem;
    font-weight: lighter;
  }

  .content {
    margin: 1rem;
  }

  &:hover {
    background-color: variables.$glass-color-hover;
    transition: ease-in;
  }

  .picture {
    overflow: hidden;
  }

  .name {
    font-size: larger;
  }

  .description {
    font-weight: 300;
    text-align: left;
    margin: 0;
  }

  &.small {
    @extend .glass;
    flex-direction: row;

    padding: 1rem;

    width: 19rem;
    height: 6rem;

    color: variables.$text-color;

    h4 {
      color: variables.$text-color;
    }

    .description {
      font-size: small;
    }

    .picture {
      min-width: 6rem;
      min-height: 6rem;

      border: 3px white solid;
      border-radius: 50%;
    }
  }

  &.large {
    background-color: variables.$white-background-color;
    flex-direction: column;

    height: 100%;

    border-radius: 4rem;

    box-shadow: 0 4px 30px rgba(0, 0, 100, 0.3);

    h4 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    .description {
      font-size: medium;
    }

    .content {
      margin: 2rem;
    }

    .imageDiv {
      width: 100%;
      align-items: center;
      background-color: white;
      padding: 1rem;
    }

    .picture {
      width: 10rem;
      height: 10rem;

      margin: auto;

      border-radius: 2rem;
      overflow: hidden;
      background-color: white;
    }
  }
}
