@import "glass";

.card {
  @extend .glass;

  width: 30ch;
  height: 10ch;
  border-radius: 5rem;
  padding: 1rem;

  color: var(--text-color);

  display: flex;
  align-items: center;
  gap: 1rem;

  &.large {
    width: 60ch;
    height: 20ch;
    border-radius: 4rem;

    .title {
      font-size: x-large;
    }

    .description {
      font-size: medium;
    }

    p {
      margin: 1rem 0;
    }

    .picture {
      min-width: 10rem;
      max-width: 10rem;
      min-height: 10rem;
      max-height: 10rem;
      overflow: hidden;
    }
  }

  .picture {
    border: 3px white solid;
    border-radius: 50%;

    min-width: 6rem;
    max-width: 6rem;
    min-height: 6rem;
    max-height: 6rem;

    overflow: hidden;
  }

  .description {
    font-size: small;
    font-weight: 300;
    text-align: left;
  }

  p {
    margin: 0;
  }
}
