.card {
  width: 30ch;
  height: 10ch;
  border-radius: 2rem;
  padding: 1rem;

  &.large {
    width: 50ch;
    height: 20ch;
    border-radius: 4rem;

    .title {
      font-size: x-large;
    }

    .description {
      font-size: large;
    }

    p {
      margin: 1rem 0;
    }

    .picture {
      width: 10rem;
      height: 10rem;
    }
  }

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  background-color: rgba($color: black, $alpha: 0.08);

  .picture {
    border: 3px gray solid;
    border-radius: 50%;

    width: 6rem;
    height: 6rem;
  }

  .description {
    font-size: small;
    font-weight: 300;
  }

  p {
    margin: 0;
  }
}
