.list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;

  gap: 2rem;

  &:last-child {
    justify-content: center; /* Center the last line */
  }
  .card {
    width: 100%;
    max-width: 25rem;
  }
}
