@use "utilities/glass";
@use "utilities/variables";

.card {
  display: flex;
  align-items: center;
  overflow: hidden;

  position: relative;

  background-color: variables.$white-background-color;
  flex-direction: column;

  border-radius: variables.$border-radius;
  box-shadow: 0 4px 30px rgba(0, 0, 100, 0.3);

  width: 100%;
  max-width: 25rem;

  .picture {
    overflow: hidden;
    width: 100%;
    height: 12rem;

    background-color: white;
  }

  .content {
    margin: 2rem;
    margin-bottom: 7rem;
    display: flex;
    flex-direction: column;

    h4 {
      margin: 0;
      margin-bottom: 1rem;
      font-weight: lighter;
      font-size: 2rem;
    }

    .description {
      font-weight: 300;
      text-align: left;
      margin: 0;
    }
  }

  .button {
    bottom: 0.5rem;
    position: absolute;
  }
}
