@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/Inter-Light.otf");
  font-weight: lighter;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/Inter-Regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter/Inter-Bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-Regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-Bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-Light.otf");
  font-weight: lighter;
}
