@use "utilities/variables";

.main {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin: 2rem;
    color: variables.$title-color;
  }

  .gallery {
    display: grid;

    grid-template-columns: repeat(5, 1fr);

    grid-auto-rows: 20rem;

    gap: 1rem;

    height: auto;
    width: 100%;

    @media (max-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 600px) {
      display: flex;
      flex-direction: column;
    }

    .image {
      height: 100%;
      width: 100%;
      border-radius: variables.$small-border-radius;
      overflow: hidden;
      box-shadow: 0 4px 30px rgba(0, 0, 100, 0.3);

      @media (max-width: 600px) {
        height: 15rem;
      }
    }
  }

  .long_5 {
    grid-column: span 2;

    @media (max-width: 1200px) {
      grid-column: span 1;
    }
  }

  .long_3 {
    @media (max-width: 1200px) {
      grid-column: span 2;
    }
  }
}
