@import "glass";

body {
  background-color: #1c70ddff;
  margin: 0;

  --background-color: #fafafa;
  --text-color: #fafafa;
  --dark-text-color: #273183;
  --title-color: #fafafa;
  --dark-title-color: #273183;
  --glass-color: rgba(100, 100, 255, 0.75);
  --text-link-color: rgb(58, 127, 255);

  font-family: "Poppins";
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  overflow: hidden;

  gap: 4rem;

  padding-top: 3rem;
  padding-bottom: 6rem;
  min-height: 100vh;

  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;

  @media (max-width: 800px) {
    background-size: 150%;
  }
}

.divLogo {
  width: 100%;
  height: 80vh;

  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (max-width: 1200px) {
    height: 50vh;
  }

  @media (max-width: 800px) {
    grid-template-columns: 1fr;
    height: fit-content;
  }

  .mainLogo {
    grid-row: 1;
    grid-column: 1;

    height: 15rem;
    margin-top: 40%;
    width: 100%;

    @media (max-width: 1200px) {
      width: 75%;
      margin: auto;
      margin-top: 30%;
    }

    @media (max-width: 800px) {
      width: 50%;
      margin: auto;
      margin-top: 15%;
    }
  }

  .galleryPreview {
    grid-row: 1;
    grid-column: 2;
    width: 110%;

    @media (max-width: 800px) {
      display: none;
    }
  }
}

.news {
  @extend .glass;

  width: 100%;
  overflow: scroll;

  padding: 2em;

  .news-list {
    margin: 2%;
    gap: 2em;
    width: fit-content;
    display: flex;
    flex-direction: row;
  }
}

.text {
  min-width: 20ch;
  max-width: 60ch;
  padding: 0 2rem;

  h1 {
    text-align: center;
    padding: 0 2rem;

    // h4 (subtitle) must be centered and slightly enlarged
    + h4 {
      text-align: center;
      font-size: large;
    }
  }

  // h4 is to be used as subtitle, thus we strip its top margin,
  // and the bottom margin of the element just before (i.e. the
  // element it is the subtitle of).
  :has(+ h4) {
    margin-bottom: 0;
  }
  h4 {
    font-weight: lighter;
    margin-top: 0.2rem;
  }

  a {
    color: var(--text-link-color);
  }

  p {
    text-align: justify;
  }
}

.page {
  @extend .text;
  h4 {
    text-align: left;
  }

  padding: 2rem;
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }

  display: flex;
  flex-direction: column;
  align-items: center;

  width: fit-content;
  max-width: unset;

  > h4 {
    font-weight: 500;
  }

  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    align-self: baseline;
    max-width: 70ch;
  }

  img {
    max-width: 60ch;
  }

  .banner {
    width: auto;
    height: auto;
    max-width: 70ch;

    margin: 2rem 0;
  }

  .author {
    margin: 0;
    font-weight: 200;
  }
}

h1 {
  color: var(--dark-title-color);

  letter-spacing: 0.1em;

  margin: 0;
  margin-top: 2rem;

  text-align: center;

  font-weight: lighter;
  text-transform: uppercase;
  font-size: 50pt;

  &.ligth {
    color: var(--title-color);
  }

  &.large {
    font-size: 50px;
    background-color: var(--background-color);

    width: fit-content;
    padding: 0 2rem;
    border-radius: 1rem;

    &::after {
      top: -0.8rem;
    }
  }
}

.pageList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;

  width: fit-content;

  > :first-child {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
  }

  h1 {
    @extend .large;
  }
}

.cardList {
  display: flex;
  flex-direction: column;
  row-gap: 1em;

  > div {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    align-items: center;
    justify-items: center;
    padding: 2rem;
  }

  border-radius: 3rem;

  background-color: var(--background-color);

  width: 80%;
}
