@use "utilities/variables";

body {
  background-color: variables.$background-color;
  margin: 0;

  font-family: "Poppins";
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: hidden;

  padding-top: variables.$navbar-height;
  padding-bottom: 5rem;
  min-height: calc(100vh - variables.$navbar-height);
}

h1 {
  letter-spacing: 0.1em;

  margin: 0;

  text-align: center;

  text-transform: uppercase;
  font-size: 50pt;
}

p {
  font-weight: 300;
}

h1,
h2,
h3,
h4 {
  color: variables.$dark-title-color;
  font-weight: 200;
  margin: 0;

  &.light {
    color: variables.$title-color;
  }
}

h2 {
  font-size: 25pt;
  font-weight: 300;
}

h3 {
  font-size: 20pt;
  font-weight: 300;
}

h4 {
  font-size: 15pt;
}

@media (max-width: 800px) {
  h1 {
    font-size: 25pt;
    font-weight: 400;
  }

  h2 {
    font-size: 15pt;
  }
}
