@use "utilities/variables";

body {
  background-color: variables.$background-color;
  margin: 0;

  font-family: "Poppins";
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  overflow: hidden;

  padding-top: variables.$navbar-height;
  padding-bottom: 6rem;
  min-height: 100vh;

  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;

  @media (max-width: 800px) {
    background-size: 150%;
  }
}

.text {
  h1 {
    text-align: center;

    // h4 (subtitle) must be centered and slightly enlarged
    + h4 {
      text-align: center;
      font-size: large;
    }
  }

  // h4 is to be used as subtitle, thus we strip its top margin,
  // and the bottom margin of the element just before (i.e. the
  // element it is the subtitle of).
  :has(+ h4) {
    margin-bottom: 0;
  }
  h4 {
    font-weight: lighter;
    margin-top: 0.2rem;
  }

  a {
    color: variables.$text-link-color;
  }

  p {
    text-align: justify;
  }
}

.page {
  @extend .text;
  h4 {
    text-align: left;
  }

  background-color: variables.$white-background-color;
  min-width: 100vw;

  padding-bottom: 4rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  .banner {
    position: absolute;
    width: 100%;
    height: 20rem;

    margin: 2rem 0;
  }

  .center {
    align-items: center;

    width: min(70ch, 80%);

    .author {
      margin: 0;
      font-weight: 200;
    }
  }
}

h1 {
  letter-spacing: 0.1em;

  margin: 0;
  margin-top: 2rem;

  text-align: center;

  font-weight: lighter;
  text-transform: uppercase;
  font-size: 50pt;

  @media (max-width: 800px) {
    font-size: 40pt;
  }
}

h1,
h2,
h3,
h4 {
  color: variables.$dark-title-color;

  &.light {
    color: variables.$title-color;
  }
}
