body {
  background-color: gray;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 4rem;

  padding: 2rem;
  padding-left: 7rem;

  min-height: 100vh;

  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
}

.CLICLogo {
  width: 50%;
  fill: white;
  margin: auto;
  margin-top: 30vh;

  @media (max-width: 800px) {
    width: 75%;
    margin-top: 15vh;
    margin-bottom: 2rem;
  }
}

.text {
  min-width: 20ch;
  max-width: 60ch;
  padding: 0 2rem;

  border-radius: 1rem;
  background-color: lightcyan;

  h1 {
    text-align: center;
    padding: 0 2rem;

    @extend .title;

    // h4 (subtitle) must be centered and slightly enlarged
    + h4 {
      text-align: center;
      font-size: large;
    }
  }

  // h4 is to be used as subtitle, thus we strip its top margin,
  // and the bottom margin of the element just before (i.e. the
  // element it is the subtitle of).
  :has(+ h4) {
    margin-bottom: 0;
  }
  h4 {
    font-weight: lighter;
    margin-top: 0.2rem;
  }

  a {
    color: rgb(58, 127, 255);
  }

  p {
    text-align: justify;
  }
}

.page {
  @extend .text;

  width: 80%;
  max-width: unset;

  display: flex;
  flex-direction: column;

  h1,
  .picture {
    align-self: center;
  }

  .picture {
    width: auto;
    height: auto;
    max-width: 90%;

    margin: 2rem 0;
  }

  .author {
    margin: 0;
    font-weight: 200;
  }
}

.title {
  text-align: center;

  &::after {
    position: relative;
    min-width: 4rem;
    min-height: 0.3rem;
    top: -0.45rem;
    left: 0.5rem;

    background-color: darkcyan;
    content: "";
    display: inline-block;
  }
  &::before {
    @extend ::after;
    left: -0.5rem;
  }
}

.cardList {
  > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  border-radius: 3rem;
  padding: 2rem;

  background-color: lightcyan;

  width: auto;
}
