body {
  background-color: gray;
  margin: 0;

  --background-color: #fafafa;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 4rem;

  padding: 2rem;
  padding-left: 7rem;

  min-height: 100vh;

  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
}

.CLICLogo {
  width: 50%;
  fill: white;
  margin: auto;
  margin-top: 30vh;

  @media (max-width: 800px) {
    width: 75%;
    margin-top: 15vh;
    margin-bottom: 2rem;
  }
}

.text {
  min-width: 20ch;
  max-width: 60ch;
  padding: 0 2rem;

  border-radius: 1rem;
  background-color: var(--background-color);

  h1 {
    text-align: center;
    padding: 0 2rem;

    @extend .title;

    // h4 (subtitle) must be centered and slightly enlarged
    + h4 {
      text-align: center;
      font-size: large;
    }
  }

  // h4 is to be used as subtitle, thus we strip its top margin,
  // and the bottom margin of the element just before (i.e. the
  // element it is the subtitle of).
  :has(+ h4) {
    margin-bottom: 0;
  }
  h4 {
    font-weight: lighter;
    margin-top: 0.2rem;
  }

  a {
    color: rgb(58, 127, 255);
  }

  p {
    text-align: justify;
  }
}

.page {
  @extend .text;
  h4 {
    text-align: left;
  }

  padding: 2rem;
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }

  display: flex;
  flex-direction: column;
  align-items: center;

  width: fit-content;
  max-width: unset;

  > h4 {
    font-weight: 500;
  }

  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    align-self: baseline;
    max-width: 70ch;
  }

  img {
    max-width: 60ch;
  }

  .banner {
    width: auto;
    height: auto;
    max-width: 70ch;

    margin: 2rem 0;
  }

  .author {
    margin: 0;
    font-weight: 200;
  }
}

.title {
  text-align: center;

  &::after {
    position: relative;
    min-width: 4rem;
    min-height: 0.3rem;
    top: -0.45rem;
    left: 0.5rem;

    background-color: darkcyan;
    content: "";
    display: inline-block;
  }
  &::before {
    @extend ::after;
    left: -0.5rem;
  }

  &.large {
    font-size: 50px;
    background-color: var(--background-color);

    width: fit-content;
    padding: 0 2rem;
    border-radius: 1rem;

    &::after {
      top: -0.8rem;
    }
  }
}

.pageList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;

  width: fit-content;

  > :first-child {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
  }

  h1 {
    @extend .title;
    @extend .large;
  }
}

.cardList {
  > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  border-radius: 3rem;
  padding: 2rem;

  background-color: var(--background-color);

  width: auto;
}
