@use "utilities/glass";
@use "utilities/variables";

.background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  @media (max-width: 1200px) {
    height: 70rem;
    width: 70rem;
  }

  @media (max-width: 800px) {
    height: 40rem;
    width: 40rem;
  }
}

.divLogo {
  width: 100%;
  height: calc(100vh - variables.$navbar-height);

  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (max-width: 1200px) {
    height: 50vh;
  }

  @media (max-width: 800px) {
    height: 40vh;
    grid-template-columns: 1fr;
  }

  .mainLogo {
    grid-row: 1;
    grid-column: 1;

    height: 15rem;
    margin-top: 40%;
    width: 100%;

    @media (max-width: 1200px) {
      width: 75%;
      margin: auto;
      margin-top: 30%;
    }

    @media (max-width: 800px) {
      width: 50%;
      margin: auto;
      margin-top: 15%;
    }
  }

  .galleryPreview {
    grid-row: 1;
    grid-column: 2;
    width: 110%;

    @media (max-width: 800px) {
      display: none;
    }
  }
}

.news {
  @extend .glass;
  background-color: transparent;

  display: flex;
  flex-direction: column;

  width: 100%;
  overflow: hidden;

  row-gap: 1rem;
  padding: 1rem;

  align-items: center;

  .newsList {
    margin-left: 2%;
    margin-right: 2%;
    gap: 2em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @media (max-width: 1200px) {
      display: flex;
      flex-direction: column;
    }
  }
}

.associationDesciption {
  background-color: variables.$white-background-color;
  display: flex;
  justify-content: center;
  padding-top: 2rem;

  .center {
    width: min(70ch, 80%);
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
}

.decoration {
  transform: translateY(-1px);
  width: 100%;
  height: auto;
}
