@use "./utilities/variables";
@use "./utilities/glass";

.background {
  position: absolute;
  top: 13rem;
}

.page {
  @extend .glass;
  background-color: transparent;

  display: flex;
  flex-direction: column;
  row-gap: 2rem;

  align-items: center;
  width: 80%;

  margin-top: calc(variables.$navbar-height);
  padding: 2rem;
  border-radius: 3rem;

  .title {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    .icon {
      height: 6rem;
      margin: 1rem;
      color: variables.$title-color;
    }
    h1 {
      color: variables.$title-color;
      text-align: center;
      text-transform: capitalize;
    }
  }

  @media (max-width: 800px) {
    width: 95%;
    border-radius: 0;

    .title {
      .icon {
        height: 3rem;
      }
    }
  }
}
