@use "./utilities/variables";

.markdown {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  h1,
  h2,
  h3,
  h4 {
    margin: 0;
  }

  h1 {
    text-align: center;

    // h2 (subtitle) must be centered and slightly enlarged
    + h2 {
      text-align: center;
    }
  }

  a {
    color: variables.$text-link-color;
  }

  p {
    margin: 0;
    text-align: justify;
  }

  img {
    border-radius: variables.$small-border-radius;
  }
}
