@use "./utilities/variables";

.membersList {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  margin-top: 3rem;

  width: 80%;

  padding-bottom: 2rem;

  border-radius: 3rem;
  background-color: variables.$white-background-color;

  @media (max-width: 800px) {
    width: 100%;
  }

  .list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));

    gap: 1rem;

    align-items: center;
    justify-items: center;
  }
}
