@use "./utilities/variables";

.membersList {
  display: flex;
  flex-direction: column;

  width: 80%;

  padding-bottom: 2rem;

  border-radius: variables.$border-radius;
  background-color: variables.$white-background-color;

  h1 {
    margin: 1rem;
  }

  @media (max-width: 800px) {
    width: 100%;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;

    gap: 1rem;
  }
}
