@import "glass";

.navigationBar {
  @extend .glass;

  display: flex;
  flex-direction: row;
  width: 100%;
  height: 3em;
  position: fixed;
  z-index: 100;

  color: var(--text-color);
  font-weight: lighter;
  font-size: 15pt;

  .burgerButton {
    margin-top: 1em;
    width: 40px;
    height: 40px;
    border: 0;
    padding: 5px;
    border-radius: 0.3rem;
    background-color: transparent;

    cursor: pointer;

    &:hover {
      background-color: lightblue;

      transition-duration: 250ms;
      transition-timing-function: ease-out;
    }
  }

  .corner {
    margin-top: 0;
    margin-left: 0;
    height: 4em;
  }

  .navigationMenu {
    display: flex;
    flex-direction: row;
    margin-right: 10%;
    margin-left: auto;
    height: 100%;
    justify-content: center;
    align-items: center;

    .menuItem {
      fill: inherit;
      justify-content: center;
      margin-right: 2em;

      &:hover {
        color: lightgrey;

        transition-duration: 250ms;
        transition-timing-function: ease-out;
      }
    }

    .dropdownMenuItem {
      position: relative;
      display: inline-block;

      .content {
        @extend .glass;

        display: none;
        position: absolute;
        flex-direction: column;

        padding-right: 2em;
        z-index: 1;
        border-radius: 5px;

        .menuItem {
          margin: 0.5em 0em 0.5em 1em;
        }
      }

      &:hover .content {
        display: flex;
      }
    }
  }
}

.socials {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  margin-top: auto;
  margin-bottom: 2em;

  .icon {
    fill: white;
    width: 2em;
    height: 2em;

    &:hover {
      fill: lightblue;

      transition-duration: 250ms;
      transition-timing-function: ease-out;
    }
  }
}
