@use "utilities/glass";
@use "utilities/variables";

.navigationBar {
  @extend .glass;

  border-left: 0;
  border-right: 0;

  display: flex;
  flex-direction: row;
  width: 100%;
  height: variables.$navbar-height;
  position: fixed;
  z-index: 100;

  align-items: center;

  color: variables.$text-color;
  font-size: 15pt;
  font-weight: 300;

  .corner {
    margin-top: 0;
    margin-left: 0;
    height: 4em;
    z-index: 10;
  }

  h1 {
    color: variables.$text-color;
    text-transform: capitalize;
    font-size: 20pt;
    margin-left: 2rem;
    height: fit-content;
  }

  .lang {
    width: 2em;
    height: auto;
    stroke-width: 0;
    cursor: pointer;

    @media (max-width: 800px) {
      display: none !important;
      position: absolute !important;
    }
  }

  .navigationMenu {
    display: flex;
    flex-direction: row;
    margin-right: 2rem;
    margin-left: auto;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    .menuItem {
      fill: inherit;
      user-select: none;
      width: fit-content;
      cursor: pointer;

      &:hover {
        color: variables.$detail-color;

        transition-duration: 250ms;
        transition-timing-function: ease-out;

        .arrow {
          border-color: variables.$detail-color;
        }
      }

      &.selected {
        background-color: variables.$dark-text-color;
        padding: 0.5rem;
        border-radius: 2rem;

        &:hover {
          color: variables.$text-color;
          .arrow {
            border-color: variables.$text-color;
          }
        }
      }
      @media (max-width: 800px) {
        display: none;
      }
    }

    .dropdownHead {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .dropdownMenu {
      position: relative;
      display: inline-block;

      .arrow {
        border: solid variables.$text-color;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 4px;
        margin-left: 0.5em;
        margin-bottom: 0.2em;
        transform: rotate(45deg);

        @media (max-width: 800px) {
          display: none !important;
        }
      }

      .content {
        @extend .glass;

        position: absolute;
        right: 0;
        display: none;
        overflow: hidden;
        z-index: 1;
        border-radius: 5px;
        white-space: nowrap;

        .menuItem {
          padding: 0.5rem 1rem 0.5rem 1rem;
          width: 100%;

          &:hover {
            background-color: variables.$glass-color-hover;
          }

          &.selected {
            border-radius: 0;
            background-color: variables.$glass-color-hover;
          }
        }
      }

      &:hover .content {
        display: flex;
        flex-direction: column;
      }
    }

    .burger {
      width: 1.5em;
      height: auto;
      stroke: white;
      cursor: pointer;
      @media (min-width: 800px) {
        display: none !important;
        position: absolute !important;
      }
    }

    .sidemenuHead {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .sideMenuContainer {
      position: absolute;
      justify-content: end;
      width: 100vw;
      height: 100vh;

      right: 0;
      top: variables.$navbar-height;
      bottom: 0;

      .sideMenu {
        @extend .glass;

        font-size: 20pt;
        text-align: center;
        align-items: center;

        display: flex;
        flex-direction: column;

        row-gap: 1rem;

        width: 100%;

        padding: 1em;

        .sideMenuLangs {
          position: absolute;
          bottom: 10rem;

          flex-wrap: wrap;
          display: flex;
          align-items: center;
          justify-content: center;

          font-size: large;

          cursor: pointer;
          .sideLang {
            height: 3rem;
            width: 100%;
          }
          .langItem {
            padding: 1rem;
            margin-bottom: 2rem;
          }
        }
      }
      @media (min-width: 800px) {
        display: none !important;
        position: absolute !important;
      }
    }
  }
}

.socials {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  margin-top: auto;
  margin-bottom: 2em;

  .icon {
    fill: white;
    width: 2em;
    height: 2em;

    &:hover {
      fill: lightblue;

      transition-duration: 250ms;
      transition-timing-function: ease-out;
    }
  }
}
