.navigationBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1a2248;
  height: 100vh;
  width: 5em;
  position: sticky;
  top: 0;
  left: 0;
  color: white;
  font-family: "Courier New", Courier, monospace;

  .burgerButton {
    margin-top: 1em;
    width: 40px;
    height: 40px;
    border: 0;
    padding: 5px;
    border-radius: var(--border-radius);
    background-color: transparent;

    &:hover {
      background-color: #3d4c8f;
    }
  }

  .socials {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
    margin-top: auto;
    margin-bottom: 2em;

    .icon {
      fill: white;
      width: 2em;
      height: 2em;

      &:hover {
        fill: grey;
      }
    }
  }
}

.navigationMenu {
  width: 15em;
  height: 100vh;
  position: absolute;
  left: 5em;
  top: 0;
  background-color: #1a2248;

  .menuList {
    margin-top: 50px;
  }
}

.entry {
  display: flex;
  justify-content: baseline;
  align-items: center;
  gap: 0.5em;
  margin: 0.5em 0 0.5em 0;

  .folderIcon {
    height: 1.5em;
    width: 1.5em;
    fill: white;
  }
}
