.navigationBar {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 3em;
  position: fixed;
  z-index: 100;

  background-color: rgba(100, 100, 255, 0.75);
  backdrop-filter: blur(10px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.125);
  box-shadow: 0 4px 30px rgba(0, 0, 100, 0.3);

  color: var(--text-color);
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 15pt;

  .burgerButton {
    margin-top: 1em;
    width: 40px;
    height: 40px;
    border: 0;
    padding: 5px;
    border-radius: 0.3rem;
    background-color: transparent;

    cursor: pointer;

    &:hover {
      background-color: lightblue;

      transition-duration: 250ms;
      transition-timing-function: ease-out;
    }
  }

  .corner {
    margin-top: 0;
    margin-left: 0;
    height: 4em;
  }

  .navigationMenu {
    display: flex;
    flex-direction: row;
    margin-right: 15%;
    margin-left: auto;
    height: 100%;
    justify-content: center;
    align-items: center;

    .menuItem {
      fill: inherit;
      justify-content: center;
      margin-left: 2em;

      &:hover {
        color: lightgrey;

        transition-duration: 250ms;
        transition-timing-function: ease-out;
      }
    }
  }
}

.socials {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  margin-top: auto;
  margin-bottom: 2em;

  .icon {
    fill: white;
    width: 2em;
    height: 2em;

    &:hover {
      fill: lightblue;

      transition-duration: 250ms;
      transition-timing-function: ease-out;
    }
  }
}
