.navigationBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1a2248;
  height: 100vh;
  width: 5em;
  position: fixed;
  top: 0;
  left: 0;
  color: white;
  font-family: "Courier New", Courier, monospace;

  z-index: 50;
  * {
    z-index: inherit;
  }

  .burgerButton {
    margin-top: 1em;
    width: 40px;
    height: 40px;
    border: 0;
    padding: 5px;
    border-radius: 0.3rem;
    background-color: transparent;

    cursor: pointer;

    &:hover {
      background-color: #3d4c8f;

      transition-duration: 250ms;
      transition-timing-function: ease-out;
    }
  }

  .socials {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
    margin-top: auto;
    margin-bottom: 2em;

    .icon {
      fill: white;
      width: 2em;
      height: 2em;

      &:hover {
        fill: grey;

        transition-duration: 250ms;
        transition-timing-function: ease-out;
      }
    }
  }

  .hidden {
    left: -15rem;
  }
}

.navigationMenu {
  width: 15em;
  height: 100vh;
  position: absolute;
  left: 5em;
  top: 0;
  background-color: #1a2248;

  z-index: 49;

  transition-duration: 0.35s;
  transition-timing-function: ease-out;

  .menuList {
    margin-top: 50px;
  }
}

.entry {
  display: flex;
  justify-content: baseline;
  align-items: center;
  gap: 0.5em;
  margin: 0.5em 0 0.5em 0;
  fill: white;

  .folderIcon {
    height: 1.5em;
    width: 1.5em;
    fill: inherit;
  }

  &:hover {
    color: grey;
    fill: grey;

    transition-duration: 250ms;
    transition-timing-function: ease-out;
  }
}
