@import "glass";

.navigationBar {
  @extend .glass;

  border-left: 0;
  border-right: 0;

  display: flex;
  flex-direction: row;
  width: 100%;
  height: 3em;
  position: fixed;
  z-index: 100;

  align-items: center;

  color: var(--text-color);
  font-weight: lighter;
  font-size: 15pt;

  .burger {
    width: 2em;
    height: auto;
    stroke: white;
    cursor: pointer;
  }

  .burgerContainer {
    @media (min-width: 50rem) {
      display: none !important;
      position: absolute !important;
    }
  }

  .corner {
    margin-top: 0;
    margin-left: 0;
    height: 4em;
  }

  .lang {
    width: 2em;
    height: auto;
    stroke: white;
    cursor: pointer;
  }

  .navigationMenu {
    display: flex;
    flex-direction: row;
    margin-right: 2rem;
    margin-left: auto;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    .menuItem {
      fill: inherit;
      user-select: none;
      cursor: pointer;

      &:hover {
        color: lightgrey;

        transition-duration: 250ms;
        transition-timing-function: ease-out;
      }

      @media (max-width: 50rem) {
        display: none;
      }
    }

    .dropdownHead {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .dropdownMenuItem {
      position: relative;
      display: inline-block;

      .arrow {
        border: solid var(--text-color);
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 4px;
        margin-left: 0.5em;
        margin-bottom: 0.2em;
        transform: rotate(45deg);
      }

      .content {
        @extend .glass;

        display: none;
        position: absolute;
        flex-direction: column;

        padding-right: 2em;
        z-index: 1;
        border-radius: 5px;

        .menuItem {
          margin: 0.5em 0em 0.5em 1em;
        }
      }

      &:hover .content {
        display: flex;
      }
    }
  }
}

.socials {
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  margin-top: auto;
  margin-bottom: 2em;

  .icon {
    fill: white;
    width: 2em;
    height: 2em;

    &:hover {
      fill: lightblue;

      transition-duration: 250ms;
      transition-timing-function: ease-out;
    }
  }
}
