@use "utilities/variables";

.newsCard {
  background-color: variables.$white-background-color;
  border-radius: variables.$border-radius;

  height: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(25rem, 50%), 1fr));

  overflow: hidden;

  box-shadow: 0 4px 30px rgba(0, 0, 100, 0.3);

  .picture {
    height: 19rem;
    width: 100%;
  }

  .content {
    position: relative;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    height: 15rem;
    width: calc(100% - 4em);

    .details {
      align-items: center;
      display: flex;
      margin-bottom: 0;

      .date {
        position: absolute;
        text-align: left;
        padding-right: 1rem;
        bottom: 0;
        left: 0;
        font-size: medium;
        color: variables.$detail-color;
      }
    }
    .button {
      position: absolute;
      margin: 0;
      bottom: 0;
      right: 0;
      width: 2rem;
      height: 2rem;
      font-size: 2rem;
    }
  }

  @media (max-width: 800px) {
    display: flex;
    flex-direction: column;

    .picture {
      height: 19rem;
    }

    .content {
      position: relative;

      .button {
        width: 1rem;
        height: 1rem;
        font-size: 1rem;
      }
    }
  }

  @media (max-width: 600px) {
    .picture {
      height: 10rem;
    }
  }
}
