@use "utilities/variables";

.newsCard {
  background-color: variables.$white-background-color;
  border-radius: 3rem;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(25rem, 50%), 1fr));
  grid-template-rows: repeat(auto-fill, minmax(20rem, 1fr));

  overflow: hidden;

  .picture {
    width: 100%;
  }

  .content {
    position: relative;
    margin: 1em;
    display: flex;
    flex-direction: column;

    .description {
      height: 8em;
    }

    .details {
      align-items: center;
      display: flex;
      margin-bottom: 0;

      .date {
        font-size: small;
        text-align: left;
        padding-right: 1rem;
        width: 80%;
      }
    }
    .button {
      position: absolute;
      margin: 0;
      bottom: 0.5em;
      right: 0.5em;
      width: 2rem;
      height: 2rem;
      font-size: 2rem;
    }
  }
}
