.newsCard {
  background-color: white;
  border-radius: 3rem;
  width: fit-content;
  height: fit-content;

  $width: 40ch;
  $height: 30ch;

  display: flex;

  overflow: hidden;

  > :nth-child(1) {
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  > :nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 1rem;
    box-sizing: border-box;

    > :last-child {
      font-size: small;

      text-align: right;
      padding-right: 1rem;
    }
  }

  @media (max-width: 800px) {
    flex-direction: column;

    width: $width;
    height: calc(2 * $height);

    > * {
      width: 100%;

      min-height: 50%;
      height: 50%;
      max-height: 50%;
    }
  }

  @media (min-width: 800px) {
    flex-direction: row;

    width: calc(2 * $width);
    height: $height;

    > * {
      min-width: 50%;
      width: 50%;
      max-width: 50%;

      height: 100%;
    }
  }
}
