@use "./utilities/glass";

.pageList {
  @extend .glass;

  display: grid;

  grid-template-columns: auto auto;
  gap: 2rem;

  width: 80%;

  margin-top: 6rem;
  padding: 2rem;
  border-radius: 3rem;

  > :first-child,
  > :nth-child(2) {
    grid-column: 1 / 3;
  }

  @media (max-width: 1000px) {
    grid-template-columns: auto;

    > :first-child,
    > :nth-child(2) {
      grid-column: 1;
    }
  }
}
