.newsCard {
  background-color: var(--background-color);
  border-radius: 3rem;
  width: fit-content;
  height: fit-content;

  $width: 40ch;
  $height: 30ch;

  display: flex;

  overflow: hidden;

  .content {
    margin-top: 1em;
    margin-left: 1em;

    width: calc(100% - 1em);

    .description {
      height: 7em;
    }

    .details {
      align-items: center;
      display: flex;

      .date {
        font-size: small;
        text-align: left;
        padding-right: 1rem;
        width: 70%;
      }

      .button {
        margin: 0;
        width: 2rem;
        height: 2rem;
        font-size: 2rem;
      }
    }
  }

  @media (max-width: 800px) {
    flex-direction: column;

    width: $width;
    height: calc(2 * $height);

    > * {
      width: 100%;

      min-height: 50%;
      height: 50%;
      max-height: 50%;
    }
  }

  @media (min-width: 800px) {
    flex-direction: row;

    width: calc(2 * $width);
    height: $height;

    > * {
      min-width: 50%;
      width: 50%;
      max-width: 50%;

      height: 100%;
    }
  }
}
