.partnersList {
  width: 100%;
  background: rgb(17, 25, 31);
  background: linear-gradient(
    205deg,
    rgb(27, 23, 77) 0%,
    rgba(12, 14, 22, 1) 35%,
    rgba(16, 15, 93, 1) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  .list {
    margin: auto;
    display: flex;
    flex-direction: row;

    @media (max-width: 800px) {
      flex-direction: column;
    }
  }

  .logo {
    height: 6em;
    width: 20em;
    margin: 2em;

    @media (max-width: 800px) {
      height: 3em;
      width: 10em;
      margin: 1em;
    }
  }
}
