.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  .content {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .arrow {
      background-color: var(--background-color);

      padding: 2rem 0;
      border-radius: 0 1rem 1rem 0;
      cursor: pointer;

      &.left {
        rotate: 180deg;
      }
    }

    > div {
      user-select: none;
      display: none;
    }

    .selected {
      display: unset;
    }
  }

  .position {
    display: flex;
    align-items: center;
    gap: 1rem;

    background-color: var(--background-color);
    padding: 0.3rem 1rem;
    border-radius: 0 0 1rem 1rem;

    > div {
      width: 1rem;
      height: 1rem;

      background-color: steelblue;
      cursor: pointer;

      border-radius: 50%;
      margin: 2px;

      &.selected {
        border: 2px solid darken(steelblue, 10);
        margin: 0;
      }
    }
  }
}
