.socialsList {
  width: 100%;
  margin-top: 1em;

  .social {
    width: 40px;
    height: 40px;
  }

  .light {
    filter: brightness(0) invert(1);
  }

  .list {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: fit-content;
    gap: 1rem;
  }
}
